/*
*
* This sheet contains the
* header component styles
*
*/
/* #component__header * {
  outline: 1px solid blue;
} */
/*
*
* Header
*
*/
#component__header {
  height: 80px;
}

@media only screen and (max-width: 767px) {
  #component__header {
    height: 70px;
  }
}

/*
*
* Header Container
*
*/
#component__header .header-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  background-color: white;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.08);
}

#component__header .header-container > .grid__container__fixed {
  max-width: 1rem;
  width: auto;
}

#page.press-releases #component__header .header-container,
#page.news #component__header .header-container,
#page.awards #component__header .header-container,
#page.media-kit #component__header .header-container {
  box-shadow: none;
}

#component__header .header-options {
  height: 80px;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 767px) {
  #component__header .header-options {
    height: 70px;
  }
}

/*
*
* Header Logo Icon
*
*/
@media only screen and (max-width: 767px) {
  #component__header .logo-icon {
    width: 140px;
  }
}

/*
*
* Header Nav Items
*
*/
#component__header .nav-items {
  height: 100%;
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

@media only screen and (max-width: 767px) {
  #component__header .nav-items {
    display: none;
  }
}

#component__header .nav-items .nav-item {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 20px;
  font-size: 12px;
  letter-spacing: 0.08em;
  color: #303843;
  cursor: pointer;
}
#component__header .nav-items .nav-item .arrow-icon {
  margin-left: 4px;
  transition: transform 0.3s ease-out;
  transform-origin: center;
  margin-top: -1px;
  image-rendering: pixelated;
  width: 9px;
  height: 9px;
  object-fit: contain;
  transform: rotate(90deg);
}
#component__header .nav-items .nav-item .arrow-icon.rotate-img {
  transform: rotate(270deg);
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  #component__header .nav-items .nav-item {
    padding: 0 15px;
  }
}

#component__header .nav-items .nav-item:hover {
  opacity: 0.7;
}

#page.about #component__header .nav-item.about,
#page.business-inside #component__header .nav-item.business-inside,
#page.company-inside #component__header .nav-item.company-inside,
#page.timeline #component__header .nav-item.timeline,
#page.impact-inside #component__header .nav-item.impact-inside,
#page.people #component__header .nav-item.people,
#page.press-releases #component__header .nav-item.media,
#page.news #component__header .nav-item.media,
#page.awards #component__header .nav-item.media,
#page.media-kit #component__header .nav-item.media,
#page.contact #component__header .nav-item.contact {
  font-family: "GraphikMedium";
  color: #1652a3;
}

/* To prevent shift when nav item becomes active */
@media only screen and (min-device-width: 1025px) {
  #component__header .nav-item.about {
    min-width: 87px;
  }

  #component__header .nav-item.business-inside {
    min-width: 124px;
  }

  #component__header .nav-item.company-inside {
    min-width: 121px;
  }

  #component__header .nav-item.impact-inside {
    min-width: 91px;
  }

  #component__header .nav-item.timeline {
    min-width: 105px;
  }

  #component__header .nav-item.contact {
    min-width: 105px;
  }

  #component__header .nav-item.media {
    min-width: 84px;
  }
}

/*
*
* Header Search Section
*
*/
#component__header #search {
  margin-left: 20px;
}

@media only screen and (max-width: 767px) {
  #component__header #search {
    margin-left: 30px;
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
}

/*
*
* Header Search Icon
*
*/
#component__header .blue-search-icon,
#component__header .black-search-icon {
  display: none;
}

@media only screen and (min-width: 768px) {
  #component__header .black-search-icon {
    display: block;
  }
}

@media only screen and (max-width: 767px) {
  #component__header .blue-search-icon {
    display: block;
  }
}

/*
*
* Header Menu Icon
*
*/
#component__header .menu-icon {
  display: none;
}

@media only screen and (max-width: 767px) {
  #component__header .menu-icon {
    display: block;
    margin-left: 25px;
  }
}

/*
*
* Mobile Menu
*
*/
#mobile-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: white;
  z-index: 999999;
  display: none;
}

/* Primary Menu Items */
#mobile-menu .primary-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  padding: 65px 0;
}

#mobile-menu .primary-menu .menu-item {
  padding: 25px 40px;
  font-family: "GraphikMedium";
  font-size: 16px;
  letter-spacing: 0.08em;
  line-height: 1;
  color: #303843;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(222, 226, 232, 0.5);
  display: flex;
  align-items: center;
}

#mobile-menu .primary-menu .menu-item .arrow-icon {
  margin-left: 8px;
  margin-bottom: 1px;
  width: 8px;
  height: auto;
}

#mobile-menu .primary-menu .close-icon {
  position: absolute;
  top: 24px;
  right: 24px;
}

/* Secondary Menu Items */
#mobile-menu .secondary-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  padding: 105px 0;
  display: none;
}

#mobile-menu .secondary-menu .menu-item p {
  padding: 25px 40px;
  font-family: "GraphikMedium";
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 23px;
  color: #1652a3;
  text-transform: capitalize;
  border-bottom: 1px solid rgba(222, 226, 232, 0.5);
  display: flex;
  align-items: center;
}

#mobile-menu .secondary-menu .back {
  position: absolute;
  top: 35px;
  left: 25px;
  font-family: "GraphikMedium";
  font-size: 14px;
  line-height: 18px;
  color: #303843;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

#mobile-menu .secondary-menu .back .arrow-icon {
  transform: rotate(180deg);
  margin-right: 12px;
  margin-bottom: 2px;
  width: 8px;
  height: auto;
}

#mobile-menu .secondary-menu .close-icon {
  position: absolute;
  top: 24px;
  right: 24px;
}

/* Menu Dropdowns */
#dropdown_sub_menu {
  background-color: #ffffff;
  width: 100%;
  position: absolute;
  left: 0px;
  top: 80px;
  box-shadow: 0px 3px 6px #00000029;
  z-index: 0;
  height: 0px;
  overflow: hidden;
}

.dropdown_sub_menu_wrapper {
  background-color: #ffffff;
  padding: 60px 0px 35px 0px;
}

p.subMenu_paragraph {
  color: #535a64;
  font-size: 15px;
  line-height: 25px;
}

a.subMenu_link {
  font-size: 15px;
  line-height: 23px;
  letter-spacing: 0.02em;
  color: #1652a3;
  font-weight: 500;
  font-family: "GraphikMedium", sans-serif;
  display: block;
  margin-bottom: 40px;
}

a.subMenu_link {
  padding-left: 48px;
}

#dropdown_sub_menu.companies .grid__col:nth-child(4n + 1) a.subMenu_link {
  padding-left: 0;
}

a.subMenu_link > span {
  display: block;
  font-size: 12px;
  color: #535a64;
  line-height: 19px;
  padding-top: 5px;
  font-family: "GraphikRegular", sans-serif;
}

a.subMenu_link > span img {
  margin-left: 8px;
}

#search_text_box {
  position: fixed;
  left: 0px;
  top: 80px;
  width: 100%;
  background-color: #fff;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  z-index: -1;
  opacity: 0;
  transform: translate3d(0, -100%, 0);
  will-change: opacity, transform;
  transition: opacity 0s, transform 0s;
}

@media only screen and (min-width: 768px) {
  #search_text_box {
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  }
}

#search_text_box.showBox {
  transform: translate3d(0, 0, 0);
  z-index: 99999;
  transition: opacity 0.3s, transform 0.3s;
  opacity: 1;
}

@media only screen and (max-width: 767px) {
  #search_text_box {
    top: 0;
  }

  #search_text_box.showBox ~ .header-container {
    display: none;
  }
}

/*  */
#component__header #search_text_box .grid__12col {
  height: auto;
}

#search_text_box .search_section {
  width: 100%;
  position: relative;
}

@media only screen and (min-width: 768px) {
  #search_text_box .search_section {
    padding: 15px 0px;
  }
}

@media only screen and (max-width: 767px) {
  #search_text_box .search_section {
    height: 70px;
  }

  #search_text_box .search_section::before {
    content: "";
    position: absolute;
    top: 25px;
    left: 0;
    width: 20px;
    height: 20px;
    background-image: url("../../assets/vectors/icons/icon_search_blue.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}

#search_text_box .search_section input {
  height: 30px;
  width: 100%;
  font-size: 16px;
  padding-right: 40px;
}

#search_text_box .search_section input::-ms-clear {
  display: none;
}

@media only screen and (max-width: 767px) {
  #search_text_box .search_section input {
    height: 100%;
    padding-left: 40px;
  }
}

#close_search {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  height: 100%;
}

/*Overlay*/
#black_overlay {
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9999;
  display: none;
  transition: all 0.3s;
}

#black_overlay.showShadow {
  display: block;
}

/* Search Suggestions */
#search-suggestions {
  display: none;
  position: fixed;
  z-index: 99999;
  top: 142px;
  left: 0;
  width: 100%;
  background-color: white;
  padding: 10px 0 50px;
}

@media only screen and (min-width: 768px) {
  #search-suggestions {
    max-height: 312px;
    overflow: auto;
  }
}

@media only screen and (max-width: 767px) {
  #search-suggestions {
    top: 70px;
    height: calc(100vh - 70px);
    padding-bottom: 1000px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
  }
}

#search-suggestions .search-suggestion {
  margin-top: 30px;
  font-size: 15px;
  line-height: 22px;
  color: #3d3e46;
}

#search-suggestions .search-suggestion .search-word {
  font-family: "GraphikMedium";
}

#search-suggestions .search-suggestion .search-category {
  color: #0c50a0;
}

@media only screen and (max-width: 767px) {
  .search-suggestions .search-suggestion {
    font-size: 15px;
    line-height: 22px;
    color: #3d3e46;
  }
}
