/*
*
* Slider
*
*/
/*  */
.slider {
  position: relative;
  overflow: hidden;
}

.slider .slides-outer-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.slider .slides-inner-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
}

.slider .slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.slider .slide-video,
.slider .slide-content,
.slider .slide-image {
  width: 100%;
  height: 100%;
}

.slider .slide-video{
  object-fit: cover;
  /* clip-path: inset(1px 1px); */
}
.slider .slide-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/*
*
* Carousel Dots
*
*/
.slider .carousel-dots {
  position: absolute;
  width: 100%;
  bottom: 67px;
  display: none;
  justify-content: center;
  pointer-events: none;
}

@media only screen and (min-width:1024px) {
  .slider .carousel-dots.show {
    display: flex;
  }
}

@media only screen and (max-width:767px) {
  .slider .carousel-dots {
    bottom: 20px;
  }
}

.slider .carousel-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.56);
  transform: scale(0.7);
  transition: transform 400ms cubic-bezier(0.175, 0.885, 0.435, 1.650);
  will-change: transform;
  cursor: pointer;
  pointer-events: all;

}

.slider .carousel-dot:not(:first-child) {
  margin-left: 7px;
}

@media only screen and (max-width:767px) {
  .slider .carousel-dot:not(:first-child) {
    margin-left: 5px;
  }
}

.slider .carousel-dot.active {
  background-color: rgba(255, 255, 255, 1);
  transform: scale(1);
}