/*
*
* This sheet contains the
* awards page styles
*
*/
/* #page * {
  outline: 1px solid blue;
} */
@media only screen and (min-width:768px) {
  #media-container {
    padding-bottom: 90px;
  }
}

/*
*
* Awards Banner
*
*/
#awards-banner {
  height: 360px;
  background-color: #F4F6F7;
}

@media only screen and (max-width:767px) {
  #awards-banner {
    height: 53.334vw;
  }
}

#awards-banner .banner-image {
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/*
*
* Media Page Intro
*
*/
#media-page-intro {
  padding: 80px 0 10px;
}

@media only screen and (max-width:767px) {
  #media-page-intro {
    padding: 50px 0 60px;
  }
}

/*
*
* Awards
*
*/
/*
*
* Media Container
*
*/
@media only screen and (max-width:767px) {
  #awards {
    background-color: #E8EAEF;
    padding-bottom: 0;
    margin-bottom: 15px;
  }

  #awards .grid__container__fixed {
    padding-left: 0;
    padding-right: 0;
  }
}

/*
*
* Award
*
*/
.award {
  margin-top: 80px;
}

@media only screen and (max-width:767px) {
  .award {
    background-color: white;
    padding: 45px 0;
    margin-top: 10px;
  }
}

.award .grid__col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (min-width:768px) {
  .award .grid__col {
    min-height: 90px;
  }
}

@media only screen and (max-width:767px) {
  .award .grid__col:nth-child(1) {
    align-items: center;
  }
}

/*
*
* Award Name
*
*/
.award .award-name {
  position: relative;
  width: 240px;
  height: 90px;
}

.award .award-name p {
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
  font-size: 14px;
  line-height: 22px;
  padding-left:44px;
  padding-right: 44px;
  color: #303843;
  text-transform: uppercase;
  text-align: center;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width:767px) {
  .award .award-name p {
    font-size: 15px;
  }
}

/*
*
* Award Wreath
*
*/
.award .award-name::before,
.award .award-name::after {
  content: '';
  position: absolute;
  top: 0;
  width: 32px;
  height: 90px;
  background-image: url('../../assets/vectors/illustrations/award-wreath.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.award .award-name::before {
  left: 0;
}

.award .award-name::after {
  right: 0;
  transform: rotateY(-180deg);
}

/*
*
* Project Name
*
*/
.award .project-name {
  padding-left: 45px;
  font-family: 'GraphikMedium';
  font-size: 16px;
  line-height: 22px;
  color: #3D3E46;
}

@media only screen and (max-width:767px) {
  .award .project-name {
    margin-top: 40px;
    padding-left: 0;
    text-align: center;
  }
}

/*
*
* Group Company Name
*
*/
.award .group-company-name {
  margin-top: 8px;
  padding-left: 45px;
  font-size: 14px;
  line-height: 22px;
  color: #8B929D;
}

@media only screen and (max-width:767px) {
  .award .group-company-name {
    padding-left: 0;
    text-align: center;
  }
}

/*
*
* Project Category and Project By
*
*/
/* project category */
.award .project-category {
  line-height: 22px;
}

@media only screen and (max-width:767px) {
  .award .project-category {
    margin-top: 35px;
    line-height: 24px;
  }
}

/* project by */
.award .project-by {
  margin-top: 12px;
  line-height: 1;
}

@media only screen and (max-width:767px) {
  .award .project-by {
    margin-top: 24px;
    line-height: 24px;
  }
}

.award .project-category,
.award .project-by {
  font-size: 14px;
  color: #A0A4AA;
  text-transform: capitalize;
}

@media only screen and (max-width:767px) {

  .award .project-category,
  .award .project-by {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

.award .project-category .category,
.award .project-by .by {
  color: #535A64;
}

@media only screen and (max-width:767px) {

  .award .project-category .category,
  .award .project-by .by {
    max-width: 240px;
  }
}

/*
*
* More CTA
*
*/
@media only screen and (max-width:767px) {
  .award .more {
    height: 0;
    overflow: hidden;
  }

  .award .more-cta {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .award .grid__col.show-more .more-cta {
    margin-top: 35px;
    margin-bottom: -5px;
    padding-top: 30px;
    border-top: 1px solid rgba(157, 165, 175, 0.15);
  }

  .award .more-cta p {
    font-family: 'GraphikMedium';
    font-size: 14px;
    line-height: 1;
    color: #1652A3;
    text-transform: uppercase;
  }

  .award .more-cta img {
    margin-left: 8px;
    margin-bottom: 2px;
    width: 7px;
    transform: rotate(90deg);
  }

  .award .grid__col.show-more .more-cta img {
    transform: rotate(-90deg);
  }
}

@media only screen and (min-width:768px) {
  .award .more-cta {
    display: none;
  }
}

/*
*
* Next Year
*
*/
#next-year {
  margin-top: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width:767px) {
  #next-year {
    position: relative;
    margin-top: 0;
    padding-top: 20px;
    padding-bottom: 25px;
  }

  #next-year::before {
    content: '';
    position: absolute;
    top: 0;
    left: 25px;
    width: calc(100vw - 50px);
    height: 1px;
    border-top: 1px solid rgba(157, 165, 175, 0.15);
  }
}
