/*
*
* This sheet contains the
* business page styles
*
*/
/* #page * {
  outline: 1px solid blue;
} */
/*
*
* h1 tag
*
*/
#page{
width:100vw;
}
#intro .stat-heading,
h1 {
  font-family: 'GraphikMedium';
  font-size: 36px;
  line-height: 46px;
  color: #303843;
}

.business-inside {
  font-family: 'GraphikMedium';
  color: #1652A3 !important;
}

@media only screen and (max-width:767px) {
#intro .stat-heading,  
h1 {
    font-size: 30px;
    line-height: 40px;
  }
}

/*
*
* Body Copy
*
*/
p {
  font-size: 16px;
  line-height: 26px;
  color: #3D3E46;
}

@media only screen and (max-width:767px) {
  p {
    font-size: 15px;
    line-height: 24px;
  }
}

/*
*
* Intro
*
*/
#intro {
  background-color: #E8EAEF;
  padding: 100px 0 90px;
}

@media only screen and (max-width:767px) {
  #intro {
    padding: 52px 0 40px;
  }
}

/* Subheading */
@media only screen and (min-width:768px) {
  #intro .business-description {
    padding-left: 45px;
  }
}

@media only screen and (max-width:767px) {
  #intro .business-description {
    margin-top: 28px;
  }
}

#intro .subheading {
  max-width: 380px;
}
#intro h2.subheading{
  font-size: 16px;
    line-height: 26px;
    color: #3D3E46;
}
/* Link */
#intro .component__blue-link {
  margin-top: 30px;
}

@media only screen and (max-width:767px) {
  #intro .component__blue-link {
    margin-top: 50px;
  }
}

#intro .component__blue-link .arrow-icon {
  transform: rotate(270deg);
}

@media only screen and (max-width:767px) {
  #intro .more-anchor-tag {
    display: none;
  }

  #intro .more-anchor-tag.hide {
    display: block;
  }
}

#intro .more-anchor-tag.hide .arrow-icon {
  transform: rotate(90deg);
}

/* achievement-stats */
#achievement-stats {
  visibility: hidden;
}

@media only screen and (max-width:767px) {
  #achievement-stats {
    margin-top: 40px;
  }
}

/* Stat Heading */
#intro .stat-heading {
  color: #1652A3;
}

@media only screen and (max-width:767px) {
  #intro .stat-heading {
    font-size: 26px;
    line-height: 1;
  }
}

/* Stat Subheading */
#intro .stat-subheading {
  margin-top: 10px;
  font-family: 'GraphikMedium';
  font-size: 12px;
  line-height: 18px;
  color: #3D3E46;
}

/* More Details */
#more-details {
  height: 0;
  overflow: hidden;
}

#more-details .grid__container__fixed {
  padding-top: 60px;
  padding-bottom: 80px;
}

@media only screen and (max-width:767px) {
  #more-details .grid__container__fixed {
    padding-top: 60px;
    padding-bottom: 0;
  }
}

@media only screen and (min-width:768px) {
  #more-details #business-detail {
    padding-left: 45px;
  }

  #more-details #business-detail .body-copy {
    max-width: 380px;
  }
}

@media only screen and (max-width:767px) {
  #more-details #companies-section {
    margin-top: 50px;
  }

  #more-details #awards-section {
    margin-top: 0px;
  }
}

#more-details .section-name {
  font-family: 'GraphikMedium';
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.04em;
  color: #A0A4AA;
  text-transform: uppercase;
}

@media only screen and (min-width:768px) {
  #more-details .section-name {
    margin-top: 5px;
  }
}

#more-details .companies-list {
  margin-top: 14px;
}

@media only screen and (max-width:767px) {
  #more-details .companies-list {
    margin-top: 5px;
  }
}

#more-details .company-name {
  padding: 7px 0;
  font-family: 'GraphikMedium';
  font-size: 14px;
  line-height: 21px;
  color: #1652A3;
  text-transform: uppercase;
}

@media only screen and (max-width:767px) {
  #more-details .company-name {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 0;
    padding-right: 10px;
    line-height: 19px;
  }
}

#more-details .company-name .arrow-icon {
  margin-left: 6px;
}

#more-details .body-copy {
  font-size: 14px;
  line-height: 25px;
  color: #3D3E46;
}

#more-details .component__blue-link {
  margin-top: 45px;
  padding: 30px 0;
  border-top: 1px solid rgba(157, 165, 175, 0.15);
  font-family: 'GraphikMedium';
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0;
  color: #1652A3;
  text-transform: uppercase;
}

#more-details .component__blue-link .arrow-icon {
  margin-left: 7px;
  vertical-align: text-top;
}

#more-details .component__blue-link .arrow-icon {
  transform: rotate(270deg);
}

/* Projects */
#projects {
  background-color: white;
}

#projects #component__project-cards-container .component__project-card:nth-child(n+9) {
  opacity: 0;
  display: none;
  will-change: opacity;
}

@media only screen and (max-width:767px) {
  #projects #component__project-cards-container {
    background-color: #E8EAEF;
  }
}

#projects::before,
#projects::after {
  content: '';
  display: table;
}

#projects::after {
  clear: both;
}

#projects {
  zoom: 1;
}

/* Project */
.project {
  float: left;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.project::before {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #EFEFEF;
}

.project::after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, #EFEFEF, #E2E2E2, #EFEFEF);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  animation-name: animateGradient;
  animation-duration: 1.2s;
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
  animation-iteration-count: infinite;
  will-change: transform;
}

@keyframes animateGradient {
  0% {
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    transform: translate3d(100%, 0, 0);
  }
}

@media only screen and (min-width:768px) {
  .project {
    width: 25vw;
    height: 25vw;
  }
}

@media only screen and (max-width:767px) {
  .project:not(:first-child) {
    margin-top: 20px;
  }
}

/* Project Image */
.project .project-image {
  position: relative;
  z-index: 3;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media only screen and (min-width:767px) {
  .project .project-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 25vw;
    height: 25vw;
  }
}

@media only screen and (max-width:767px) {
  .project .project-image {
    width: 100vw;
    height: 100vw;
  }
}

/* Project Details */
@media only screen and (min-width:768px) {
  .project .project-details {
    position: absolute;
    z-index: 4;
    bottom: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient(to top, #070707 1%, rgba(0, 0, 0, 0));
    height: calc(100% - 87px);
    padding: 0 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    opacity: 0;
    transition: opacity 200ms;
  }

  .project:hover .project-details {
    opacity: 1;
  }

  .project .project-name {
    font-family: 'GraphikMedium';
    font-size: 22px;
    line-height: 1;
    color: white;
  }

  .project .project-location {
    margin-top: 13px;
    font-size: 14px;
    line-height: 1;
    color: white;
  }
}

@media only screen and (max-width:767px) {
  .project .project-details {
    position: relative;
    z-index: 4;
    padding: 25px;
    background-color: white;
  }

  .project .project-name {
    font-family: 'GraphikMedium';
    font-size: 20px;
    line-height: 28px;
    color: #303843;
  }

  .project .project-location {
    margin-top: 7px;
    font-size: 12px;
    line-height: 1;
    color: #303843;
  }
}

/* See More Projects */
#see-more-projects {
  padding-top: 38px;
  padding-bottom: 38px;
}

@media only screen and (min-width:768px) {
  #see-more-projects .grid__12col {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (max-width:767px) {
  #projects .project:nth-child(n+9) {
    height: 0;
    margin-top: 0;
    overflow: hidden;
  }

  #see-more-projects {
    margin-top: 25px;
    padding-top: 20px;
    padding-bottom: 25px;
    background-color: white;
    position: relative;
  }

  #see-more-projects::before {
    content: '';
    position: absolute;
    top: 0;
    left: 25px;
    width: calc(100vw - 50px);
    height: 1px;
    border-top: 1px solid rgba(157, 165, 175, 0.15);
  }
}
