/*
*
* This sheet contains the
* company page styles
*
*/
/* #page * {
  outline: 1px solid blue;
} */
/*
*
* h1 tag
*
*/
#page{width:100vw;}
h1 {
  font-family: 'GraphikMedium';
  font-size: 48px;
  line-height: 57px;
  color: white;
}

.company-inside {
  font-family: 'GraphikMedium';
  color: #1652A3 !important;
}

@media only screen and (max-width:767px) {
  h1 {
    font-size: 30px;
    line-height: 40px;
    color: white;
  }
}

/*
*
* h2 tag
*
*/
h2 {
  font-family: 'GraphikMedium';
  font-size: 26px;
  line-height: 1;
  color: #303843;
}

/*
*
* Company Header
*
*/
#company-header,
#company-header .company-header-container,
#company-header .grid__12col {
  height: 50px;
}

@media only screen and (max-width:767px) {
  #company-header {
    position: absolute;
    top: 360px;
    width: 100%;
  }

  #company-header.sticky {
    position: fixed;
    z-index: 999;
    width: 100%;
  }

  #company-header,
  #company-header .company-header-container,
  #company-header .grid__12col {
    height: 54px;
  }
}

/*
*
* Company Header Container
*
*/
#company-header .company-header-container {
  position: fixed;
  top: 80px;
  width: 100%;
  background-color: white;
  z-index: 999;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.08);
}

@media only screen and (max-width:767px) {
  #company-header .company-header-container {
    position: absolute;
    top: 0;
    box-shadow: 0 3px 6px rgba(154, 154, 154, 0.16);
    border-top: 1px solid #DEE2E8;
  }

  #company-header.sticky {
    position: fixed;
    z-index: 99999;
    top: 69px;
  }

  #company-header .company-header-container::after {
    content: '';
    position: absolute;
    top: 18px;
    right: 30px;
    width: 10px;
    height: 18px;
    background-image: url('../../assets/vectors/icons/icon_rightarrow_blue.svg');
    transform: rotate(90deg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  #company-header.show-header-options .company-header-container::after {
    top: 17px;
    transform: rotate(270deg);
  }
}

#company-header .grid__12col {
  display: flex;
  align-items: center;
}

/*
*
* Company Header Title
*
*/
#company-header .company-header-title {
  font-family: 'GraphikMedium';
  font-size: 16px;
  line-height: 1;
  color: #535A64;
  height: 100%;
  display: flex;
  align-items: center;
}

@media only screen and (min-width:768px) {
  #company-header .company-header-title {
    min-width: 87px;
  }
}

@media only screen and (max-width:767px) {
  #company-header .company-header-title {
    margin-top: 4px;
    padding-left: 5px;
    font-size: 14px;
    line-height: 1;
    color: #0C50A0;
    text-transform: uppercase;
  }
}

/*
*
* Company Header Items
*
*/
#company-header .company-header-items {
  padding-left: 416px;
  height: 100%;
  flex: 1;
  display: flex;
}

@media only screen and (max-width:767px) {
  #company-header .company-header-items {
    display: none;
  }

  #company-header.show-header-options .company-header-items {
    flex-direction: column;
    display: flex;
    position: absolute;
    left: 0;
    padding: 20px 0;
    top: 53px;
    background-color: white;
    width: 100%;
    height: auto;
    border-top: 1px solid #DEE2E8;
    box-shadow: 0 4px 8px rgba(126, 126, 126, 0.16);
  }
}

#company-header .company-header-item {
  font-size: 12px;
  letter-spacing: 0.08em;
  line-height: 1;
  color: #535A64;
  text-transform: uppercase;
  padding: 0 25px;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  will-change: transform;
}

@media only screen and (min-width:768px) {
  #company-header .company-header-item.projects {
    min-width: 118px;
  }

  #company-header .company-header-item.about {
    min-width: 97px;
  }

  #company-header .company-header-item.services {
    min-width: 116px;
  }

  #company-header .company-header-item.contact {
    min-width: 115px;
  }

  #company-header .company-header-item:hover {
    opacity: 0.7;
  }

  #company-header .company-header-item.active {
    font-family: 'GraphikMedium';
    color: #3D3E46;
  }
}

@media only screen and (max-width:767px) {
  #company-header .company-header-item {
    font-family: 'GraphikMedium';
    font-size: 14px;
    letter-spacing: 0.02em;
    margin-top: 0;
    padding: 15px 30px;
  }
}

/* visit website icon */
#company-header .company-header-item .visit-website-icon {
  margin-left: 9px;
  margin-bottom: 1px;
}

@media only screen and (max-width:767px) {
  #company-header .company-header-item .visit-website-icon {
    margin-left: 12px;
  }
}

/* Company Banner */
#company-banner {
  height: 380px;
  position: relative;
}

@media only screen and (max-width:767px) {
  #company-banner {
    height: 290px;
  }

  #company-header+#company-banner {
    margin-bottom: 54px;
  }

  #company-header.sticky+#company-banner {
    /* margin-bottom: 0; */
  }
}

/* Company Banner Image */
#company-banner {
  background-color: #F4F6F7;
}

#company-banner .company-banner-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#company-banner .company-banner-image::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

/* Company Name */
#company-banner .company-name {
  position: absolute;
  top: 140px;
  width: 100%;
  text-align: center;
}

@media only screen and (max-width:767px) {
  #company-banner .company-name {
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 25px;
  }
}

/* Company Location */
#company-banner .company-location {
  position: absolute;
}

@media only screen and (min-width:768px) {
  #company-banner .company-location {
    bottom: 20px;
    right: 40px;
    font-size: 14px;
    letter-spacing: 0.02em;
    line-height: 1;
    color: white;
  }
}

@media only screen and (max-width:767px) {
  #company-banner .company-location {
    left: 0;
    width: 100%;
    bottom: 15px;
    text-align: center;
    font-size: 10px;
    letter-spacing: 0.01em;
    line-height: 1;
    color: rgba(255, 255, 255, 0.7);
  }
}

/* Achievements Section */
#achievements-section {
  padding: 70px 0;
  visibility: hidden;
}

/*
*
* For pages where there are less than 4 projects,
* the padding in the achievements section changes
*
*/
#company-container.less-than-4-projects #achievements-section {
  padding: 80px 0;
}
#contact-section  .component__visit-website-link{
margin-top: 25px;
}
@media only screen and (min-width:768px) {
  #company-container.no-projects #achievements-section {
    padding: 80px 0 104px;
  }
}

@media only screen and (max-width:767px) {
  #achievements-section {
    padding: 60px 0 70px;
  }
}

/* Achievements Heading */
#achievements-section .stat-heading {
  font-family: 'GraphikMedium';
  font-size: 34px;
  line-height: 1;
  color: #0C4DA2;
}

@media only screen and (max-width:767px) {
  #achievements-section .stat-heading {
    font-size: 26px;
  }
}

/* Achievements Detail */
#achievements-section .stat-subheading {
  margin-top: 12px;
  padding-right: calc(1rem/12);
  font-family: 'GraphikMedium';
  font-size: 12px;
  line-height: 18px;
  color: #3D3E46;
}

@media only screen and (max-width:767px) {
  #achievements-section .stat-subheading {
    margin-top: 10px;
    padding-right: calc(1rem/12);
  }

  #achievements-section .grid__col:nth-child(n+3) {
    margin-top: 60px;
  }

  #achievements-section .grid__col:nth-child(3) {
    clear: left;
  }
}

/* Projects Section */
#projects-section #component__project-cards-container .component__project-card:nth-child(n+5) {
  opacity: 0;
  display: none;
  will-change: opacity;
}

/* See More Projects */
#see-more-projects {
  padding: 20px 0 10px;
}

@media only screen and (min-width:768px) {
  #see-more-projects .grid__12col {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (max-width:767px) {
  #projects .project:nth-child(n+9) {
    height: 0;
    margin-top: 0;
    overflow: hidden;
  }

  #see-more-projects {
    display: block;
    margin-top: 25px;
    padding-top: 20px;
    padding-bottom: 25px;
    background-color: white;
    position: relative;
  }

  #see-more-projects::before {
    content: '';
    position: absolute;
    top: 0;
    left: 25px;
    width: calc(100vw - 50px);
    height: 1px;
    border-top: 1px solid rgba(157, 165, 175, 0.15);
  }
}

/* About Section */
#about-section {
  padding: 120px 0;
}

#about-section h3+a,
#about-section h3+p,
#about-section p+h3,
#about-section a+h3 {
  display: block;
  margin-top: 20px;
}

/*  */
#about-section h3 {
  font-family: 'GraphikMedium';
  font-size: 15px;
  line-height: 21px;
  color: #3D3E46;
}

@media only screen and (max-width:767px) {
  #about-section h3 {
    font-size: 16px;
    line-height: 22px;
  }

  #about-section .grid__col:last-child {
    padding-top: 20px;
  }
}

/*  */
#about-section .link {
  margin-bottom: 1px;
  color: #0C4DA2;
}

@media only screen and (min-width:768px) {
  #about-section .link:hover {
    opacity: 0.8;
  }
}

/*  */
#about-section .bullet-point {
  position: relative;
  margin-bottom: 1px;
  display: flex;
  align-items: start;
}

#about-section .bullet-point::before {
  content: '';
  width: 5px;
  height: 5px;
  background-color: #3D3E46;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 9px;
  flex-shrink: 0;
}

/*  */
@media only screen and (max-width:767px) {
  #about-section {
    padding: 75px 0 70px;
  }

  #about-section.pt-30 {
    padding-top: 30px;
  }
}

/* No Projects */
@media only screen and (min-width:768px) {
  #company-container.no-projects #about-section {
    background-color: #E8EAEF;
    padding: 80px 0 110px;
  }
}

@media only screen and (max-width:767px) {
  #company-container.no-projects #about-section {
    position: relative;
    padding: 70px 0;
  }

  #company-container.no-projects #about-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 25px;
    width: calc(100vw - 50px);
    height: 1px;
    background-color: rgba(157, 165, 175, 0.15);
  }
}

/* No Achievements */
#company-container.no-achievements #about-section+#services-section {
  background-color: #E8EAEF;
  padding: 100px 0;
}

@media only screen and (max-width:767px) {
  #company-container.no-achievements #about-section+#services-section {
    padding: 50px 0 60px;
  }
}

@media only screen and (min-width:768px) {
  #company-container.no-achievements #about-section {
    padding: 110px 0 120px;
  }
}

/* About body copy */
#about-section p {
  font-size: 14px;
  line-height: 24px;
  color: #3D3E46;
}

@media only screen and (max-width:767px) {
  #about-section p {
    font-size: 15px;
  }

  #about-section .grid__row .grid__col:nth-child(2) {
    margin-top: 40px;
  }
}

@media only screen and (min-width:768px) {
  #about-section .grid__row .grid__col:nth-child(2) {
    padding-right: 65px;
  }

  #about-section .grid__row .grid__col:nth-child(3) {
    padding-right: 30px;
  }
}

/* Services Section */
#services-section {
  background-color: #E8EAEF;
  padding: 100px 0;
}

/* No Projects */
@media only screen and (min-width:768px) {
  #company-container.no-projects #services-section {
    background-color: white;
    padding: 120px 0 60px;
  }
}

/* No Achievements */
#company-container.no-achievements #services-section {
  background-color: white;
}

@media only screen and (min-width:768px) {
  #company-container.no-achievements #services-section {
    padding: 150px 0 60px;
  }
}

@media only screen and (max-width:767px) {
  #services-section {
    background-color: #E8EAEF;
    padding: 50px 0 60px;
  }
}

/* Services List */
@media only screen and (max-width:767px) {
  #services-section .grid__col:nth-child(2) .services-list {
    margin-top: 40px;
  }

  #services-section .grid__col:nth-child(3) .services-list {
    margin-top: 25px;
  }
}

#services-section .services-list .service {
  position: relative;
  font-family: 'GraphikMedium';
  font-size: 14px;
  line-height: 21px;
  color: #3D3E46;
  padding-left: 15px;
}

#services-section .services-list .service::before {
  content: '';
  position: absolute;
  top: 6px;
  left: 0;
  width: 5px;
  height: 5px;
  background-color: #BDC5CF;
  border-radius: 50%;
}

#services-section .services-list .service:not(:first-child) {
  margin-top: 25px;
}

/* Contact Section */
#contact-section {
  padding: 100px 0 110px;
}

@media only screen and (min-width:768px) {
  #projects-section+#contact-section {
    padding: 120px 0 110px;
  }
}

@media only screen and (max-width:767px) {
  #contact-section {
    padding: 70px 0 60px;
  }

  #projects-section+#contact-section.pt-30 {
    padding-top: 30px;
  }
}

/* Contact Address Heading */
#contact-section .contact-address-heading {
  font-family: 'GraphikMedium';
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 0.04em;
  color: #A0A4AA;
  text-transform: uppercase;
}

@media only screen and (max-width:767px) {
  #contact-section .contact-address-heading {
    margin-top: 40px;
    font-size: 14px;
    line-height: 21px;
  }
}

/* Contact Address Details */
#contact-section .contact-address-details {
  margin-top: 20px;
  font-size: 14px;
  line-height: 24px;
  color: #3D3E46;
}

#contact-section .contact-address-details .tel {
  display: block;
  margin-top: 8px;
}

@media only screen and (max-width:767px) {
  #contact-section .contact-address-details {
    margin-top: 30px;
    font-size: 15px;
    line-height: 25px;
    color: #535A64;
  }
}

/* Contact Map */
#contact-section .contact-address-map {
  height: 162px;
  background-color: #F4F6F7;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid rgba(216, 218, 220, 0.85);
}

@media only screen and (max-width:767px) {
  #contact-section .contact-address-map {
    display: none;
  }
}
