@media (min-width: 1000px) {
    .csrTab {
        color: #1652a3 !important;
    }
}
/*
*
* This sheet contains the
* media page styles
*
*/
.impact-heading {
    font-size: 26px;
    font-weight: 500;
    color: #535a64;
    line-height: 36px;
    letter-spacing: 0;
}
.impact-mission-listing {
    padding-bottom: 40px;
    padding-top: 40px;
    font-size: 16px;
    line-height: 24px;
    color: #535a64;
    border-bottom: 1px solid #dee2e8;
    font-weight: 400;
}
.impact-mission-listing:last-child {
    border: none;
}
.impact-mission-listing .bold {
    font-family: "GraphikMedium";
}
@media (max-width:786px) {
     .impact-mission-listing:last-child{
        padding-bottom: 0px;
    }
}
@media only screen and (min-width: 768px) {
    main {
        min-height: calc(100vh - 80px);
    }
}
.impact {
    font-family: "GraphikMedium";
    color: #1652a3 !important;
}

/*
*
* Media Header
*
*/
#media-header,
#media-header .media-header-container,
#media-header .grid__12col {
    height: 50px;
}

@media only screen and (max-width: 767px) {
    #media-header,
    #media-header .media-header-container,
    #media-header .grid__12col {
        height: 54px;
    }
}

/*
*
* Media Header Container
*
*/
#media-header .media-header-container {
    position: fixed;
    top: 80px;
    width: 100%;
    background-color: white;
    z-index: 999;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.08);
}

@media only screen and (max-width: 767px) {
    #media-header .media-header-container {
        top: 70px;
        box-shadow: 0 3px 6px rgba(154, 154, 154, 0.16);
        border-top: 1px solid #dee2e8;
    }

    #media-header .media-header-container::after {
        content: "";
        position: absolute;
        top: 18px;
        right: 30px;
        width: 10px;
        height: 18px;
        background-image: url("../../assets/vectors/icons/icon_rightarrow_blue.svg");
        transform: rotate(90deg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    #media-header.show-header-options .media-header-container::after {
        transform: rotate(270deg);
    }
}

#media-header .grid__12col {
    display: flex;
    align-items: center;
}

/*
*
* Media Header Title
*
*/
#media-header .media-header-title {
    font-family: "GraphikMedium";
    font-size: 16px;
    line-height: 1;
    color: #535a64;
    height: 100%;
    display: flex;
    align-items: center;
}

@media only screen and (min-width: 768px) {
    #media-header .media-header-title {
        min-width: 47px;
    }
}

@media only screen and (max-width: 767px) {
    #media-header .media-header-title {
        margin-top: 4px;
        padding-left: 5px;
        font-size: 14px;
        line-height: 1;
        color: #0c50a0;
        text-transform: uppercase;
    }
}

/*
*
* Media Header Items
*
*/
#media-header .media-header-items {
    padding-left: 455px;
    height: 100%;
    flex: 1;
    display: flex;
}

@media only screen and (max-width: 767px) {
    #media-header .media-header-items {
        display: none;
    }

    #media-header.show-header-options .media-header-items {
        flex-direction: column;
        display: flex;
        position: absolute;
        left: 0;
        padding: 20px 0;
        top: 53px;
        background-color: white;
        width: 100%;
        height: auto;
        border-top: 1px solid #dee2e8;
        box-shadow: 0 4px 8px rgba(126, 126, 126, 0.16);
    }
}

#media-header .media-header-item {
    font-size: 12px;
    letter-spacing: 0.08em;
    line-height: 1;
    color: #535a64;
    text-transform: uppercase;
    padding: 0 25px;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    will-change: transform;
}

@media only screen and (min-width: 768px) {
    #media-header .media-header-item.press-releases {
        /* min-width: 163px; */
    }

    #media-header .media-header-item.news {
        min-width: 137px;
    }

    #media-header .media-header-item.awards {
        min-width: 116px;
    }

    #media-header .media-header-item.media-kit {
        min-width: 119px;
    }

    #media-header .media-header-item:hover {
        opacity: 0.7;
    }

    #page.press-releases #media-header .media-header-item.press-releases,
    #page.news #media-header .media-header-item.news,
    #page.awards #media-header .media-header-item.awards,
    #page.media-kit #media-header .media-header-item.media-kit {
        font-family: "GraphikMedium";
        color: #3d3e46;
    }
}

@media only screen and (max-width: 767px) {
    #media-header .media-header-item {
        font-family: "GraphikMedium";
        font-size: 14px;
        letter-spacing: 0.02em;
        margin-top: 0;
        padding: 15px 30px;
    }
}

/*
*
* Media Page Intro
*
*/
#media-page-intro {
    padding: 80px 0 0;
}

@media only screen and (max-width: 767px) {
    #media-page-intro {
        padding: 50px 0 20px;
    }
}

#media-page-intro .grid__12col {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media only screen and (max-width: 767px) {
    #media-page-intro .grid__12col {
        align-items: baseline;
    }
}

/*
*
* Media Year Dropdown
*
*/
.component__media-year-dropdown {
    position: relative;
    width: 91px;
    height: 34px;
}

.component__media-year-dropdown .native-select-dropdown {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    -webkit-appearance: none;
}

.component__media-year-dropdown .dropdown-input {
    width: 100%;
    height: 100%;
    padding: 0 8px;
    border: 1px solid #dee2e8;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    pointer-events: none;
}

/*  */
.component__media-year-dropdown .dropdown-input .selected-value {
    font-family: "GraphikMedium";
    font-size: 12px;
    letter-spacing: 0.06em;
    line-height: 1;
    color: #303843;
}

@media only screen and (max-width: 767px) {
    .component__media-year-dropdown .dropdown-input .selected-value {
        margin-top: 4px;
    }
}

.component__media-year-dropdown .dropdown-input .arrow-icon {
    margin-left: 8px;
}

@media only screen and (max-width: 767px) {
    .component__media-year-dropdown .dropdown-input .arrow-icon {
        margin-top: 2px;
    }
}

.component__media-year-dropdown .dropdown-input.expanded .arrow-icon {
    transform: rotate(180deg);
}

/* Show More Button */
#show-more {
    display: none;
}

@media only screen and (max-width: 767px) {
    #show-more {
        display: block;
        padding-top: 20px;
        padding-bottom: 25px;
        background-color: white;
        position: relative;
    }

    #show-more::before {
        content: "";
        position: absolute;
        top: 0;
        left: 25px;
        width: calc(100vw - 50px);
        height: 1px;
        border-top: 1px solid rgba(157, 165, 175, 0.15);
    }
}
/*
*
* This sheet contains the
* project inside page styles
*
*/
/* #page * {
  outline: 1px solid blue;
} */
/*
*
* h1 tag
*
*/

/*
*
* h2 tag
*
*/
h2 {
    font-family: "GraphikMedium";
    font-size: 12px;
    letter-spacing: 0.04em;
    line-height: 1;
    color: #a0a4aa;
}
#legacy .stat-heading{
font-family: "GraphikMedium";
    font-size: 36px;
    line-height: 46px;
}
@media only screen and (max-width: 767px){
#legacy .stat-heading{
font-size: 26px;
    line-height: 30px;
}
}

/*
*
* Project Header
*
*/
#project-header,
#project-header .project-header-container,
#project-header .grid__12col {
    height: 50px;
}

#project-header .project-header-container {
    position: fixed;
    top: 80px;
    width: 100%;
    background-color: white;
    z-index: 9999;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.08);
}
#project-header .project-header-container > .grid__container__fixed {
    max-width: 1rem;
    width: auto;
}
#project-header .grid__12col {
    display: flex;
    align-items: center;
}

#project-header .project-nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

#project-header .project-nav p {
    font-size: 11px;
    letter-spacing: 0.08em;
    line-height: 1;
    color: #535a64;
    text-transform: uppercase;
}

#project-header .project-nav .project-next-nav {
    margin-left: 50px;
}
#project-header .project-nav .project-previous-nav:hover,
#project-header .project-nav .project-next-nav:hover {
    opacity: 0.7;
}
@media only screen and (max-width: 767px) {
    #project-header {
        display: none;
    }
}
/*
*
* Project Details
*
*/
#project-details {
    padding: 70px 0 70px;
}

@media only screen and (max-width: 767px) {
    #project-details {
        padding: 50px 0 55px;
    }
}

/*
*
* Project Name and Location
*
*/
#project-details .project-location-and-date {
    margin-top: 20px;
    font-size: 14px;
    line-height: 1;
    color: #3d3e46;
}

/*
*
* About Project
*
*/
#project-details .about-project {
    font-size: 14px;
    line-height: 24px;
    color: #3d3e46;
}


/*
*
* Businesses and Companies Involved
*
*/
.businesses-and-companies-involved h2:nth-of-type(2) {
    margin-top: 33px;
}

@media only screen and (max-width: 767px) {
    .businesses-and-companies-involved h2:nth-of-type(1) {
        margin-top: 50px;
    }

    .businesses-and-companies-involved h2:nth-of-type(2) {
        margin-top: 35px;
    }
}

/*
*
* Legacy
*
*/
#pillar-csr,
#legacy {
    background-color: #e8eaef;
    padding: 100px 0 100px;
}

@media only screen and (max-width: 767px) {
    #legacy {
        padding: 60px 0 60px;
    }
}

/* Heading */
#legacy .heading {
    font-family: "GraphikMedium";
    font-size: 36px;
    line-height: 46px;
    color: #303843;
    float: left;
}
.heading {
font-family: "GraphikMedium";
    font-size: 36px;
    line-height: 46px;
    color: #303843;
letter-spacing: inherit;
}
@media only screen and (max-width: 767px) {
.heading{
    font-size: 30px;
    line-height: 40px;
}
    #legacy .heading {
        font-size: 30px;
        line-height: 40px;
    }
}

/* Stats */
#legacy #achievement-stats {
    float: right;
    visibility: hidden;
}

/* Stat */
#legacy .stat {
    float: left;
}

@media only screen and (min-width: 768px) {
    #legacy .stat:nth-child(4) {
        clear: left;
    }

    #legacy .stat:nth-child(n + 4) {
        margin-top: 70px;
    }
}

@media only screen and (max-width: 767px) {
    #legacy .stat:nth-child(3) {
        clear: left;
    }

    #legacy .stat {
        margin-top: 60px;
    }

    #legacy .stat:nth-child(2n + 1) {
        clear: left;
    }
}

/* Stat Heading */
#legacy .stat-heading {
    color: #1652a3;
}

@media only screen and (max-width: 767px) {
    #legacy h1 {
        font-size: 26px;
        line-height: 30px;
    }
}

/* Stat Subheading */
#legacy .stat-subheading {
    margin-top: 10px;
    font-family: "GraphikMedium";
    font-size: 12px;
    line-height: 18px;
    color: #3d3e46;
    max-width: 125px;
}

@media only screen and (min-width: 768px) {
    #legacy .stat-subheading {
        max-width: 165px;
    }
}

/*
*
* Project Details
*
*/
.csr-section {
    padding: 80px 0 80px;
}

@media only screen and (max-width: 767px) {
    .csr-section {
        padding: 60px 0;
    }
}

/*
*
* Project Name and Location
*
*/
#impact-vision .project-location-and-date {
    margin-top: 20px;
    font-size: 14px;
    line-height: 1;
    color: #3d3e46;
}
.border-bottom-1 {
    border-bottom: 1px solid #dee2e8;
}
/*
*
* About Project
*
*/
#impact-vision .about-project {
    font-size: 14px;
    line-height: 24px;
    color: #3d3e46;
}

@media only screen and (max-width: 767px) {
    #impact-vision .about-project {
        margin-top: 40px;
        font-size: 15px;
    }
}

/*
*
* Project Image Slider
*
*/
#slider__project-images {
    position: relative;
    height: 490px;
    background-color: #f4f6f7;
}

@media only screen and (max-width: 767px) {
    #slider__project-images {
        height: 320px;
    }
}

/* Project Image Slider Arrows */
.slider-left-arrow,
.slider-right-arrow {
    position: absolute;
    top: 230px;
    cursor: pointer;
    z-index: 1;
}

.slider-left-arrow {
    left: 64px;
}

.slider-right-arrow {
    right: 64px;
    transform: rotate(180deg);
}

@media only screen and (max-width: 767px) {
    .slider-left-arrow,
    .slider-right-arrow {
        display: none;
    }
}

@media (max-width: 786px) {
    #impact-mission .impact-heading {
        margin-top: 40px;
    }
    #impact-mission .no-gutter {
        padding-left: 15px;
        padding-right: 15px;
    }
}

#pillar-csr .csr-tab {
    padding-bottom: 40px;
    border-bottom: 1px solid #cecece;
}
#pillar-csr .csr-tab-navigation {
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    font-family: "GraphikMedium";
    color: #535a64;
}
#pillar-csr .csr-tab-navigation.active {
    color: #0c50a0;
}

#pillar-csr .csr-content {
    padding-top: 70px;
    opacity: 0;
    visibility: hidden;
    display: none;
    transition: 0.3s ease-in-out;
}
#pillar-csr .csr-content.show {
    display: block;
    opacity: 1;
    visibility: visible;
}
#pillar-csr .impact-heading {
    margin-bottom: 40px;
}
#pillar-csr p {
    font-size: 16px;
    line-height: 26px;
    color: #535a64;
    letter-spacing: 0;
}
#pillar-csr .csr-nav-tabs .grid__3col:first-child {
    padding-left: 0;
}
@media (max-width: 786px) {
    #pillar-csr .csr-nav-tabs {
        overflow-x: scroll;
        display: flex;
        scroll-behavior: smooth;
        margin: 0 15px;
        margin-top: 40px;
    }
    #pillar-csr .csr-nav-tabs .grid__3col {
        width: fit-content;
        display: block;
        flex-shrink: 0;
        padding: 0;
        padding-right: 40px;
    }
    #pillar-csr .csr-nav-tabs .csr-tab-navigation {
        display: flex;
    }
}
#impact-vision .vision-img {
    max-width: 320px;
}
.circle-overlap-img {
    position: relative;
    height: 260px;
    margin-bottom: 60px;
    width: 100%;
}
.circle-overlap-img .cirle-img img {
    width: 100%;
}
.circle-overlap-img .cirle-img {
    max-width: 260px;
    position: absolute;
}
.circle-overlap-img .cirle-img:nth-child(2) {
    left: 200px;
}
.circle-overlap-img .cirle-img:nth-child(3) {
    left: 400px;
}
@media (max-width: 786px) {
    .circle-overlap-img {
        position: relative;
        height: 132px;
        margin-bottom: 40px;
        width: 100%;
    }
    .circle-overlap-img .cirle-img img {
        width: 100%;
    }
  
    .circle-overlap-img .cirle-img:nth-child(2) {
        left: 100px;
    }
    .circle-overlap-img .cirle-img:nth-child(3) {
        left: 200px;
    }
}
@media (max-width:786px) {
      .circle-overlap-img .cirle-img {
        max-width: 132px;
        position: absolute;
    }
}
@media (max-width:410px) {
      .circle-overlap-img .cirle-img {
        max-width: 115px;
        position: absolute;
    }
}
