@media (min-width: 1000px) {
    .hseTab {
        color: #1652a3 !important;
    }
}
p {
    font-size: 16px;
    color: #535a64;
    line-height: 26px;
}
.path-breaking-container .details {
    margin-bottom: 40px;
}
@media (max-width: 786px) {
    .path-breaking-container .details {
        margin-top: 40px;
    }
}
.hse-card {
    margin-bottom: 40px;
}
.certificate_sec_container {
    display: none;
}
@media (min-width: 786px) {
    .hse-card.mb-md-0 {
        margin-bottom: 0px;
    }
    .certificate_sec_container {
        display: block;
    }
}
.hse_award_section.certificate_sec {
    border: none;
}
@media (max-width: 786px) {
    .hse-card.mb-0 {
        margin-bottom: 0px;
    }
}

.hse-card .hi-title .text-hi {
    color: #1652a3;
    font-size: 32px;
    font-family: "GraphikMedium";
    font-weight: 600;
    line-height: 46px;
}
.hse-card h6 {
    font-size: 16px;
    font-family: "GraphikMedium";
    line-height: 26px;
    color: #535a64;
    margin: 10px 0 5px;
}
.hse-card .hi-title .text-en {
    color: #a0a4aa;
    font-size: 16px;
    padding-left: 10px;
}

.hse-card p {
    line-height: 20px;
}
.best_p_list_container {
    padding-right: 0;
}
.best_p_list_container .grid__row {
    display: flex;
    flex-wrap: wrap;
}
.best_p_list {
    display: flex;
    padding-right: 0px;
}
.best_p_list:nth-child(2n + 1) {
    padding-left: 0;
}
.best_p_list:nth-child(2n) {
    padding-right: 0;
}
.best_p_list:nth-child(2n + 1) p {
    margin-right: 20px;
}
.best_p_list p {
    height: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 0px;
    color: #535a64;
    font-family: "GraphikMedium";
    font-size: 16px;
    border-bottom: 1px solid #cecece;
}

.best_p_list:nth-child(1) p,
.best_p_list:nth-child(2) p {
    padding-top: 0px;
}
@media (max-width: 786px) {
    .best_p_list_container {
        padding-right: 15px;
    }
    .best_p_list {
        padding-left: 0;
        padding-right: 0;
    }
    .best_p_list:first-child p {
        padding-top: 0px;
    }
    .best_p_list:nth-child(2) p{
        padding-top: 40px;
    }
    .best_p_list:last-child p {
        border: none;
        padding-bottom: 60px;
    }

    .best_p_list:nth-child(2n + 1) p {
        margin-right: 0;
    }
    .best_p_list p {
        padding-top: 40px;
    }
}
@media (min-width: 786px) {
    .csr-content {
        padding-bottom: 60px;
    }
    .pl-md-0 {
        padding-left: 0px;
    }
    .pr-md-0 {
        padding-right: 0px;
    }
    .best_p_list.boder-none p {
        padding-bottom: 0;
        border: none;
    }
}
.hse_below_tab_container {
    padding-top: 80px;
    border-top: 1px solid #cecece;
}
@media (max-width: 786px) {
    .hse_below_tab_container {
        padding-top: 60px;
        border-top: 1px solid #cecece;
    }
}
@media (max-width: 786px) {
    .hse_below_tab_container .hse_subtitle {
        padding-left: 15px;
    }
}
.title{
font-family: "GraphikMedium";
    font-size: 36px;
    line-height: 46px;
    color: #303843;
}
#legacy .stat-heading{
font-family: "GraphikMedium";
    font-size: 36px;
    line-height: 46px;
}
@media only screen and (max-width: 767px){
.title{
font-family: "GraphikMedium";
    font-size: 36px;
    line-height: 46px;
    letter-spacing :normal;
}
#legacy .stat-heading{

font-size: 26px;
    line-height: 30px;
}
}

.mt-0 {
    margin-top: 0px;
}
.hse_award_section {
    padding-top: 60px;
}
@media (min-width: 786px) {
    .hse_award_section {
        display: flex;
        padding-bottom: 60px;
        border-bottom: 1px solid #cecece;
    }
}
.grid__container__fixed.mb-40 {
    margin-bottom: 40px;
}
.hse_award_section.certificate_sec .award {
    border-bottom: none;
}
.hse_award_section.certificate_sec.pt-0 {
    padding-top: 0px;
}
@media (max-width: 786px) {
    .hse_award_section .award {
        border-bottom: 1px solid #cecece;
        padding-bottom: 60px;
        height: 100%;
    }
}
.hse_award_section .grid__col {
    display: flex;
    flex-direction: column;
}
.hse_award_section .award {
    position: relative;
    max-width: 323px;
    width: 100%;
}
.hse_award_section .award p {
    line-height: 20px;
}
.heading{
font-family: "GraphikMedium";
    font-size: 36px;
    line-height: 46px;
    color: #303843;
letter-spacing: inherit;
}
.hse_award_section .award-name .inner-content {
    padding-left: 44px;
    padding-right: 44px;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90px;
}
.hse_award_section .award-name .inner-content p,
.hse_award_section .award-name .inner-content h5 {
    font-size: 14px;
    color: #3d3e46;
}
.hse_award_section .award-name .inner-content h5 {
    font-family: "GraphikMedium";
    font-size: 16px;
    line-height: 22px;
}
.hse_award_section .award-name::before,
.hse_award_section .award-name::after {
    content: "";
    position: absolute;
    top: 0;
    width: 32px;
    height: 90px;
    background-image: url(../../assets/vectors/illustrations/award-wreath.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.hse_award_section .award-name::before {
    left: 0;
}
.hse_award_section .award-name::after {
    right: 0;
    transform: rotateY(-180deg);
}
.hse_award_section .award-dec {
    max-width: 280px;
    margin: 0 auto;
    text-align: center;
    font-size: 12px;
    padding-top: 10px;
}
@media (max-width: 786px) {
.title,
    .heading{
	    font-size: 30px;
    line-height: 40px;	
	}

    .hse_award_section .grid__col {
        padding-top: 60px;
    }
    .hse_award_section .grid__col:first-child {
        padding-top: 0;
    }
}
.hse_award_section.certificate_sec:last-child .grid__col {
    padding-bottom: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 5px;
    width: 5px;
    margin: 0 3px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color transform 0.6s ease;
}

.dot.active,
.dot:hover {
    background-color: #717171;
}
.dot.active {
    transform: scale(1.2);
    transform-origin: center;
}
/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}
.certificate_sec_slider {
    display: none;
}

@media (max-width: 786px) {
    .certificate_sec_slider {
        display: block;
    }
    .certificate_sec_slider .grid__col {
        padding-top: 0 !important;
        height: 140px;
        /* display: flex ;
        flex-shrink: 0;
        opacity: 0;
        visibility: hidden;
        transition: .3s ease-in-out; */
    }
    /* .certificate_sec_slider .grid__col.show{
        opacity: 1;
        visibility: visible;
    } */
    .certificate_sec_slider .award {
        padding-bottom: 40px;
    }
}
