/*
*
* This sheet contains the
* project inside page styles
*
*/
/* #page * {
  outline: 1px solid blue;
} */
/*
*
* h1 tag
*
*/
h1 {
  font-family: 'GraphikMedium';
  font-size: 30px;
  line-height: 40px;
  color: #303843;
}

@media only screen and (max-width:767px) {
  h1 {
    font-size: 28px;
    line-height: 36px;
  }
}

/*
*
* h2 tag
*
*/
h2 {
  font-family: 'GraphikMedium';
  font-size: 12px;
  letter-spacing: 0.04em;
  line-height: 1;
  color: #A0A4AA;
}

/*
*
* Project Header
*
*/
#project-header,
#project-header .project-header-container,
#project-header .grid__12col {
  height: 50px;
}

#project-header .project-header-container {
  position: fixed;
  top: 80px;
  width: 100%;
  background-color: white;
  z-index: 9999;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.08);
}
#project-header .project-header-container>.grid__container__fixed{
  max-width: 1rem;
  width: auto;
}
#project-header .grid__12col {
  display: flex;
  align-items: center;
}

#project-header .project-nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}



#project-header .project-nav p {
  font-size: 11px;
  letter-spacing: 0.08em;
  line-height: 1;
  color: #535A64;
  text-transform: uppercase;
}

#project-header .project-nav .project-next-nav {
  margin-left: 50px;
}
#project-header .project-nav .project-previous-nav:hover,
#project-header .project-nav .project-next-nav:hover {
  opacity: 0.7;
}
@media only screen and (max-width:767px) {
  #project-header {
    display: none;
  }
}

/*
*
* Project Image Slider
*
*/
#slider__project-images {
  position: relative;
  height: 490px;
  background-color: #F4F6F7;
}

@media only screen and (max-width:767px) {
  #slider__project-images {
    height: 320px;
  }
}

/* Project Image Slider Arrows */
.slider-left-arrow, .slider-right-arrow {
  position: absolute;
  top: 230px;
  cursor: pointer;
  z-index: 1;
}

.slider-left-arrow {
  left: 64px;
}

.slider-right-arrow {
  right: 64px;
  transform: rotate(180deg);
}

@media only screen and (max-width:767px) {
  .slider-left-arrow, .slider-right-arrow {
    display: none;
  }
}

/*
*
* Project Details
*
*/
#project-details {
  padding: 70px 0 150px;
}

@media only screen and (max-width:767px) {
  #project-details {
    padding: 50px 0 55px;
  }
}

/*
*
* Project Name and Location
*
*/
#project-details .project-location-and-date {
  margin-top: 20px;
  font-size: 14px;
  line-height: 1;
  color: #3D3E46;
}

/*
*
* About Project
*
*/
#project-details .about-project {
  font-size: 14px;
  line-height: 24px;
  color: #3D3E46;
}

@media only screen and (max-width:767px) {
  #project-details .about-project {
    margin-top: 40px;
    font-size: 15px;
  }
}

/*
*
* Businesses and Companies Involved
*
*/
.businesses-and-companies-involved h2:nth-of-type(2) {
  margin-top: 33px;
}

@media only screen and (max-width:767px) {
  .businesses-and-companies-involved h2:nth-of-type(1) {
    margin-top: 50px;
  }

  .businesses-and-companies-involved h2:nth-of-type(2) {
    margin-top: 35px;
  }
}
